.home {
    width: 100%;
    height: auto;
    margin: auto;
}

#loginForm {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5%;
    padding-top: 3%;
    /*display: none;*/
}
#txtUsername, #txtPassword {
    margin-bottom: 10px;
    width: 350px;
    padding: 6px;
    border-radius: 25px;
    border-color: #1ba3e8;
    font-weight: bold;
    font-size: 20px;
}

#btnLogin {
    margin: 15px;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    background: #1ba3e8;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#chatForm {
    background-color: black;
}

#left {
    width: 28%;
    height: 600px;
    background-color: white;
    float: left;
}

#right {
    width: 70%;
    height: 600px;
    /*background-color: #ff4add;*/
    float: right;
    /*border: solid 2px #1ba3e8;*/
}

#boxTitle {
    color: white;
    background-color: #45619D;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    border: solid 2px #3316ff;
}

#listRecentUsers {
    height: 510px;
    background-color: white;
    overflow-y: auto;
}

#listRecentUsers li {
    list-style-type: none;
    text-align: left;
    font-size: 15px;
    padding: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    border: solid 2px #1ba3e8;
    border-radius: 12px;
    background-color: white;
    /*overflow-y: auto;*/

}

#listRecentUsers li:hover {
    background-color: #6fd1e8;
    cursor: pointer;
}

#sayHello {
    color: white;
    background-color: #45619D;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    border: solid 2px #3316ff;
}

#btnLogout {
    padding: 11px;
    width: 150px;
    border-radius: 15px;
    background-color: white;
    color: #45619D;
    /*font-family: arial;*/
    font-weight: bold;

}

#btnLogout:hover {
    opacity: 1;
    cursor: pointer;
    color: white;
    background-color: rgb(36, 35, 57);
}

#listMessages {
    height: 400px;
    background-color: white;
    border-radius: 20px;
    border: solid 2px #1ba3e8;
    margin-top: 12px;
    overflow-y: auto;
    padding-left: 14px;
    margin-bottom: 14px ;
}

#status {
    background-color: #bcbcbc;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 14px;
}

#typeArea {
    /*border: solid 2px #3316ff;*/
    /*padding:10px;*/
    /*background-color: #ff4add;*/
}

#inputMessages {
    width: 96%;
    border-radius: 20px;
    border: solid 2px #1ba3e8;
    padding: 8px;
    font-size: 18px;
}


