<html>
<head>
    <meta charset="UTF-8">
    <title>Demo Socket IO</title>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        // Connect to server
        var socket = io ("http://localhost:3000");
        socket.on("Server-send-data", function (data) {
            $("#noidung").append(data + ", ");
        });


        $(document).ready(function () {
            //alert("Hello Jquery");
            $("#clientA").click(function () {
                //alert("Client A");
                // Tham so thu nhat: ten ket noi
                // THam so thu hai: du lieu gui di
                socket.emit("Client-send-data", "HELLO");

            });
        });


    </script>
</head>
<body>
    Hello world
    <div id="clientA">Click to send</div>
    <h2 id="noidung"></h2>
</body>
</html>